.anime-container {
	width: 100%;
	height: 100vh;
	padding: 100px 0;
}

.anime-wrapper {
	max-width: 92%;
	margin: 0 auto;
	padding: 0 100px;
	display: flex;
	flex-direction: column;

	> h1 {
		font-size: 38px;
		line-height: 44px;

		padding: 25px 0;

		i {
			font-style: normal;
			color: $accent;
		}
	}
}

.poster-list {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fill, 175px);
	gap: 5px;
}

.poster {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	border-radius: 10px;

	div {
		transition: all 0.2s linear;
		display: flex;
		flex-direction: column;
		position: absolute;

		width: 175px;
		height: 100%;
		padding: 10px;

		justify-content: center;
		border-radius: inherit;

		text-align: center;

		opacity: 0;

		&:hover {
			opacity: 1;
			background: rgba($page-bg-dark, 0.3);
		}
	}

	img {
		width: 100%;
		border-radius: inherit;
	}
}

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;

	top: 0;
	left: 0;

	z-index: 1000;
}

.modal-background {
	transition: all 1s linear;
	position: absolute;
	width: 100%;
	height: 100%;

	background: rgba($page-bg-dark, 0.7);
	backdrop-filter: blur(10px);
}

.modal-wrapper {
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-inner-background {
	width: 700px;
	height: auto;

	border-radius: 10px;

	-webkit-animation: gradient 5s ease infinite;
	animation: gradient 5s ease infinite;

	&.watching {
		background-image: linear-gradient(-45deg, $watching);
	}

	&.completed {
		background-image: linear-gradient(-45deg, $completed);
	}

	&.onhold {
		background-image: linear-gradient(-45deg, $onhold);
	}

	&.dropped {
		background-image: linear-gradient(-45deg, $dropped);
	}

	&.plantowatch {
		background-image: linear-gradient(-45deg, $plantowatch);
	}
}

.modal {
	margin: 5px;
	padding: 15px;
	background: #0f0f0f;
	border-radius: inherit;
}

.modal-header {
	display: flex;
	justify-content: space-between;

	padding: 0 10px 10px 10px;
	margin: 0 0 10px 0;

	border-bottom: 1px solid rgba(#424242, 0.5);

	h1 {
		i {
			margin-right: 10px;
		}
	}

	a {
		font-size: 20px;
		margin: auto 0;
	}
}

.modal-info {
	display: flex;

	padding: 0 20px 0;

	div {
		width: 50%;
		font-size: 17px;
		font-weight: 500;
	}

	div:first-of-type {
		color: rgba($text, 0.6);
	}

	i {
		margin-right: 10px;
	}
}

@media screen and (max-width: 960px) {
	.modal-inner-background {
		width: 80%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
