.button {
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  color: $text;

  &:hover {
    color: $accent;
  }

  &.border {
    border-bottom: 1px solid $accent;

    &:hover {
      background-color: rgba($accent, 0.3);
      color: unset;
    }
  }

  &.text-decoration {
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 9px 15px 9px 0 !important;

    &:hover {
      padding: 9px 0 9px 15px !important;
    }
  }

  &.redirect {
    padding: 0 15px 0 0;
    display: inline-block;

    &:hover {
      padding: 0;
      color: $text;
    }

    &.socials {
      cursor: default;
      margin-top: 9px;

      a {
        cursor: pointer;
        margin: 0 10px;
        font-size: 20px;

        &:last-of-type {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
