@media screen and (max-width: 765px) {
    .item {
        padding: 50px;
    }
}

.button {
    transition: all 0.2s ease;
    cursor: pointer;
    color: $text;

    &:hover {
        color: $accent;
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.icon {
        i {
            transition: all 0.2s ease;
        }

        &:hover {
            i {
                color: $accent;
            }
        }
    }
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;

    color: $accent;
    font-weight: 700;

    &.main {
        line-height: 44px;
        font-size: 38px;

        text-transform: unset;
        letter-spacing: unset;
        color: unset;
    }
}
