.PageNotFound-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 10px;

    p {
        font-weight: 700;
    }

    a {
        letter-spacing: 5px;
    }
}
